body {
  width: 100%;
  background-color: rgb(31, 35, 64);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  border: 4px solid #ff2;
  background-color: rgb(201, 70, 19);
}

main {
  display: grid;
  width: 30%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "item1 item1 item1 item2 item2"
    "item1 item1 item1 item2 item2"
    "item3 item3 item4 item4 item4"
    "item3 item3 item5 item5 item5";
  gap: 12px;
  height: 50vh;
  margin: 150px auto;
}

.item1 {
  grid-area: item1;
  background-color: rgb(201, 70, 19);
}

.item2 {
  grid-area: item2;
  background-color: rgb(234, 234, 31);
}

.item3 {
  grid-area: item3;
  background-color: rgb(57, 180, 57);
}

.item4 {
  grid-area: item4;
  background-color: rgb(60, 176, 211);
}

.item5 {
  grid-area: item5;
  background-color: rgb(165, 36, 165);
}
